name: Deploy alerts
on:
  push:
    branches:
      - "main"

jobs:
  deploy-dev-gcp-alerts:
    name: Deploy to dev-gcp
    permissions:
      actions: read
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: dev-gcp-alerts.yml
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true

  deploy-prod-gcp:
    name: Deploy to prod-gcp
    permissions:
      actions: read
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: prod-gcp-alerts.yml
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true
